<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #111827;
			height: 100%;
			margin: 0;
		}
		
		.button {
			background-color: #337ab7;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		}
		
		.button:hover {
			background-color: #23527c;
		}
	</style>
</head>
<body>
	<div style="color: white;">
		<h2>Error 404, analysis not found</h2>
		<button class="button" onclick="location.href='/';">Go Back</button>
	</div>
</body>
</html>