<!DOCTYPE html>
<html>

<head>
	<title>RatterScanner | 404</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#000000">
	<link rel="icon" href="https://ratterscanner.com/favicon.ico">
	<link rel="manifest" href="https://ratterscanner.com/manifest.json">
	<link rel="apple-touch-icon" href="https://ratterscanner.com/logo192.png">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="RatterScanner | 404">
	<meta property="og:description" content="What a strange place it is.">
	<meta property="og:color" content="#ff7878">

	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #111827;
			height: 100%;
			color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.button {
			background-color: #337ab7;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			transition: 200ms ease-in;
		}

		.button:hover {
			background-color: #569cd8;
			transform: scale(1.025);
		}

		.noticeContainer {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			padding: 10px;
		}

		.noticeContainer > div {
			display: inline-block;
		}

		.noticeContainer > div > * {
			display: inline;
		}

		.mb-2 {
			margin-bottom: 0.5rem;
		}

		.text-gray-300 {
			color: #d1d5db;
		}

		.text-gray-300:hover {
			color: #ffffff;
		}

		.mx-2 {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}

		.text-gray-500 {
			color: #737373;
		}

		.text-sm {
			font-size: 0.875rem;
		}
	</style>
</head>

<body>
	<h1 style="margin-bottom: 5px; margin-top: 40px;">Error 404</h1>
	<h3 style="margin-bottom: 40px;">The content you searched doesn't exist.</h3>
	<button class="button" onclick="location.href='/'">Go Back</button>
	<div class="noticeContainer mx-auto">
		<div class="mb-2">
			<a href="/terms" class="text-gray-300 hover:text-white mx-2">Terms and Conditions</a>
			<span class="text-gray-500">|</span><a href="/privacy" class="text-gray-300 hover:text-white mx-2">Privacy Policy</a>
		</div>
		<p class="text-gray-500 text-sm">© 2023 RatterScanner. All rights reserved.</p>
	</div>
</body>
</html>