<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a file >> Gute Nacht</title>
    <link rel="stylesheet" href="indexStyle.css">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="tabs">
              <button class="tab active">Upload a file</button>
              <button class="tab">View a report</button>
              <button class="tab">Credits and statistics</button> <!--This is quints job-->
            </div>
            <div class="box-content">
                <!-- Tab 1 -->
                <p class="tab-text">Upload a .jar file to be scanned</p>
                <div class="file-upload">
                    <label for="file-input">
                    <img src="fileIcon.png" alt="File upload icon">
                    Click to upload
                    <input type="file" id="file-input" multiple>
                    </label>
                </div>
                <p class="or-text">or</p>
                <div class="input-box">
                    <input type="text" id="url-input" placeholder="Enter a URL to download from">
                    <button class="button-5" role="button" id="urlSubmit" onclick="submitURL(document.getElementById('url-input').value);">Submit</button>
                </div>
            </div>
            <!-- file upload form -->
            <div class="box-content" style="display: none;">
            <!-- Tab 2 -->
            <p class="tab-text">Enter a scan ID</p>
            <div class="input-box">
                <input type="text" id="id-input" placeholder="Enter an ID">
                <button class="button-5" role="button" onclick="window.location.href = '/report?appID=' + document.getElementById('id-input').value;">Submit</button>
            </div>
            </div>
            <div class="box-content" style="display: none;">
              <!-- Tab 3 -->
              <p class="tab-text">Coming soon</p>
            </div>
          </div>
    <div class="popup-box">
        <div class="popup-content">
            <span class="close-popup">x</span>
            <p><h2>Submit the file</h2></p>
            <div id="fileInfo"></div>
            </br>
            <div class="g-recaptcha" data-sitekey=<%= locals.siteKey %>></div>
            </br>
            <button class="button-5" role="button" id="file-submit" onclick="submitFile()">Submit</button> <!--There is prob a better way to go about this-->
        </div>
    </div>
    <footer>
        <p>© Ratterscanner 2024 <a href="https://ratterscanner.com/terms">Terms</a> | <a href="https://ratterscanner.com/privacy">Privacy</a> </p>
    </footer>
    <script>const maxSize = "<%= fileLimit %>";</script>
    <script src="indexScript.js"></script>
</body>
</html>
