body {
  background-color: #2e3440;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* we set page size here since its the body - this will also affect stuff like title - it also helps with footer calc */
}
/* aside from some light work phone should need much on this page */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px; /* We pad here so we can move this around */
}

.box {
  background-color: #3b4252;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #3b4252;
  padding: 10px;
  border-bottom: 1px solid #e5e9f076;
}

.tab {
  background-color: #434c5e;
  border: none;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.tab:hover {
  background-color: #5e81ac;
}

.tab.active {
  background-color: #4c566a;
  font-weight: bold;
}
.tab.active:hover {
    background-color: #5e81ac; /* css is annoying wtf */
}

.box-content {
  padding: 20px;
}

.tab-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e5e9f076;
  margin-bottom: 20px;
  background-color: #3b4252;
}

    .svg {
        width: 70px;
        fill: #d8dee9f7;
        height: 70px;
        padding-bottom: 10px;

    }

.file-upload input[type="file"] {
  display: none;
}

.file-upload label {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #3b4252;
  font-size: 16px;
  color: #fff;
}
/* peak name tbf */
.or-text {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.input-box {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.input-box input[type="text"] {
  padding: 10px;
  border: 1px solid #e5e9f076;
  width: 200px;
  background-color: #3b4252;
  color: #fff;
  height: 25px;
}

.input-box button[type="button"] {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #3e8e41;
}

.input-box button[type="button"]:hover {
  background-color: #3e8e41;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #5e81ac;
  border: 2px solid transparent;
  box-shadow: rgba(46, 52, 64, 0.35) 1px 1px 1px -1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 1;
  min-height: 3rem;
  padding: calc(1.5rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 40px;
}

.button-5:hover,
.button-5:focus {
  background-color: #2e3440;
}
/* someone explain why we need so much transforming its really fine bro */
.button-5:active {
  background-color: #2e3440;
}

footer {
    margin-top: auto;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    color: gray; /* someone fact check this is the right color from ratterscanner main site */
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50px;
    right: 50px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #81a1c1, #5e81ac, #81a1c1) 1;
}
footer a {
  color:#fff;
  font-weight: normal; /* imma force normal font style since idk but I swear we have some weird stuff going on with fonts */
  text-decoration: none; /* raterrscanner.com uses no this so ok */
}

.file-upload label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
.file-upload input[type="file"] {
  display: none;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  background-color: #2e3440;
  color: #ffffff;
  padding: 20px;
  width: 300px;
  margin: 40px auto;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.close-popup:hover {
  color: #929292; /* icba color concept this ngl */
}

