:root {
    --box-boarder: 1px solid #e5e9f076;;
}

body {
  background-color: #2e3440;
  font-family: "Inter", sans-serif;
  margin: 10px;
  padding: 0;
  height: 100vh; /* we set page size here since its the body - this will also affect stuff like title - it also helps with footer calc */
}

.static-ol {
    margin-right: 50px; /* pushing core */
}
.static-ol a {
    font-size: 18px;
}
.list-item {
    font-size: 16px;

    text-decoration: none;
    list-style: disc;
}

.flags-box-mal-1 p {
    font-size: 16px;
}

body * {
	color: #fff;
}

.container {
	margin-left: 10px;
}

h1 {
	margin-top: 0;
}

.divider {
	height: 1px;
	background-color: #ccc;
	width: 50%;
	margin: 20px 0;
}

.columns {
	margin: 1px 0;
}



.column {
	margin: 10px;
}
.result-text-area-div {
    margin: 10px;
    font-size: 16px;
}
.column p {
	margin: 0;
}

.box {
	width: calc(100% - 300px);
	height: 70px;
	border: var(--box-boarder);
	display: flex;
	align-items: center;
    margin-left: 20px;
}
.flags-box-sus {
	width: calc(100% - 300px);
	height: 70px;
	border: var(--box-boarder);
	display: flex;
	align-items: center;
    margin-left: 20px;
    background-color: #ebcb8b;
}

.flags-box-mal {
    width: calc(100% - 300px);
	height: 70px;
	border: var(--box-boarder);
	display: flex;
	align-items: center;
    background-color: #bf616a;
    margin-left: 20px;
}


.flags-box-mal-1 {
    width: calc(100em - 50em);
	height: inherit;
    border: 6px solid;
    border-style: solid;
    border-image: linear-gradient(to right, #bf616a, #e13142, #bf616a) 1;
    display: flex;
    background-color: #3b4252;
    
}

.box-container {
    margin-bottom: 2px;
}

.box-chain .box:first-child {
	border-top: var(--box-boarder);
}


.box p {
	margin: 10px;
}

.sylus-code {
    color: blue;
}

.malicious {
    color: #bf616a;
    text-shadow: #000000bd 1px 1px 2px;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 2px;
}

.suspicious {
    background-color: #ebcb8b;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}

.safe {
    background-color: #a3be8c;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}

.contents-bar {
    position: fixed;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 200px;
    padding: 10px;
    border-left: var(--box-boarder);
}

.contents-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contents-bar li {
    margin-bottom: 20px;
}

.contents-bar li ul {
    margin-left: 20px;
}

.loading-animation {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 40px auto;
  }
  
  .loading-animation img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }